<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:LordyDB.db</property>
        <property name="connection.pool_size">100</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping class="ru.vonabe.entitys.EntityLord" />
        <mapping class="ru.vonabe.entitys.EntityGuild" />
        <mapping class="ru.vonabe.entitys.EntityAdmin" />
        <mapping class="ru.vonabe.entitys.EntityArmy" />
        <mapping class="ru.vonabe.entitys.EntityUnits" />
        <mapping class="ru.vonabe.entitys.EntityBot" />
        <mapping class="ru.vonabe.entitys.EntityClans" />
    </session-factory>
</hibernate-configuration>